{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "$components": "./src/components",
          "$screens": "./src/screens",
          "$assets": "./src/assets",
          "$utils": "./src/utils",
          "$hooks": "./src/hooks",
          "$modals": "./src/modals"
        }
      }
    ]
  ]
}